* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f283c0;
}

main{
    margin: auto;
}

.box-1{
    background-color: #ffe548;
    display: block;
    width: auto;
    height: auto;
    text-align: center;
    border-radius: 5px;
    border: 2px black solid;
    height: auto;
    width: 250px;
    margin: auto;
    padding: 4px;
    position: relative;
    top: 210px;
}

.box-2{
    background-color: white;
    display: block;
    height: auto;
    width: 500px;
    margin: auto;
    margin-top: 200px;
    border-radius: 20px;
    border: 2px black solid;
    padding: 15px;
}

img{
   position: relative;
   left: 100px;
}

p{
    padding-top: 10px;
    font-size: 20px;
}